<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/spring-logo.png"/>
</head>
<body>

<!-- Верхняя навигационная панель -->
<nav class="navbar bg-dark navbar-dark fixed-top">
    <form class="form-inline">
        <strong> <span class="navbar-text text-white" th:text="${user.getEmail()}" }> </span> </strong>
        <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
        <span class="navbar-text text-white"><a th:each="role: ${user.getRoles()}" th:text="${role.toString()}+' '"></a></span>
    </form>
    <ul class="navbar-nav float-lg-end">
        <li class="nav-item">
            <a class="nav-link text-muted" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>


<!-- Контейнер под панелью навигации -->
<div class="container-fluid bg-light">
    <div class="row">

        <!-- Левый блок -->
        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column"><br> <br> <br>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <!-- Правый блок -->
        <div class="col-sm-10 bg-light"><br><br><br>
            <h2>User information-page</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col border bg-light">
                        <p><h6>About user</h6></p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col border bg-white">
                        <br>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${user.getId()}"></td>
                                <td th:text="${user.getName()}"></td>
                                <td th:text="${user.getLastname()}"></td>
                                <td th:text="${user.getAge()}"></td>
                                <td th:text="${user.getEmail()}"></td>
                                <td><a th:each="role : ${user.getRoles()}" th:text="${role.toString()} + ' '"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Вариант 2: Отдельные JS для Popper и Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

</body>
</html>